[submodule "v1/external/spdlog"]
	path = v1/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "v1/external/box2d"]
	path = v1/external/box2d
	url = https://github.com/erincatto/box2d.git
