[submodule "Emu/external/spdlog"]
	path = Emu/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Emu/external/box2d"]
	path = Emu/external/box2d
	url = https://github.com/erincatto/box2d.git
